.buynotes-div{
    width: 1600px;
  height: 755px;
  position: absolute;
  left: 305px;
  top: 150px;
  border-radius: 17px;
  background-color: white;
  box-shadow: 2px 2px 2px 2.5px rgba(123, 129, 135, 0.57);
  display: flex;
  flex-direction: column;
}
.search-box{
  width: 100%;
  position: relative;
  display: flex;

}
.search-input{
  width: 75%;
  padding: 0px;
  border: 2.5px solid #737af5;
  border-radius:10px 0 0 10px ;
  border-right: none;
  outline: none;
  font-size: 20px;
  
  background: none;
}
.search-button{
 
height: 51px;
width: 40px;
outline: none;
cursor: pointer;
border: 2.5px solid #8a90ff;
 border-radius: 0 10px 10px 0 ;
border-left: none;
background: none;
font-size: 20px;
border-left: 2.5px solid #8a90ff;


}
.searchbar-container{
  width: 35%;
  position: absolute;
  left: 50%;
  top: 8%;
  transform: translate(-50% , -50%);
}

.fa-search{
  color: #737af5;
}

.search-pic{
  position: absolute;
  left: 20%;
  top: 20%;
}

.searchbar-below-text{
  position: absolute;
  left: 43%;
  top: 13.5%;
  font-size: 18px;
}