.profile-container{
    width: 1507px;
    height: 755px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.profile-form-container{
    width: 753px;
    height: 755px;
}

.second-form-container{
    width: 450px;
    height: 600px;
    margin-left: 120px;
    margin-top: 60px;
}

.profile-img-container{
    width: 753px;
    height: 755px;
    background-image: url("../images/profilepic.jpg");
    background-size: cover;
}

.profile-container{
    width: 1507px;
    height: 755px;
    display: flex;
    flex-direction: row;
}

.line{
    width: 450px;
    height: 1px;
    background-color: black;
    margin-bottom: 70px;
}

h1{
    font-size: 33px;
}

.user-name{
    width: 450px;
    height: 45px;
    margin-bottom: 34px;
    border-bottom: 2px solid #A3A7F5;
    font-size: 24px;
}
.user-phone{
    width: 450px;
    height: 45px;
    margin-bottom: 34px;
    border-bottom: 2px solid #A3A7F5;
    font-size: 24px;
}
.user-mail{
    width: 450px;
    height: 45px;
    margin-bottom: 34px;
    border-bottom: 2px solid #A3A7F5;
    font-size: 24px;
}
.user-cur-course{
    width: 450px;
    height: 45px;
    margin-bottom: 34px;
    border-bottom: 2px solid #A3A7F5;
    font-size: 24px;
}