.form-group{
    display:flex;
    flex-direction: column;
    font-size: 25px;
    font-family: Montserrat;
}
.signup-content{
    margin-left: 75px;
    margin-top:120px
}
.form-group input[type=text] {
    width: 450px;
height: 45px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 3px solid #A3A7F5;
    border-radius: 4px;
    box-sizing: border-box;
  }

  .form-group input[type=number] {
    width: 450px;
height: 45px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 3px solid #A3A7F5;
    border-radius: 4px;
    box-sizing: border-box;
  }

  .form-group select{
    width: 450px;
    height: 60px;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 3px solid #A3A7F5;
        border-radius: 4px;
        box-sizing: border-box;
  }
  input,
input::placeholder {
    font-size: 20px;
}
select,option::placeholder{
    font-size: 15px;
}
.reg-image{
    
    margin-left: 210px;
    height:755px;
    width:868px;
    border-radius: 17px;
}
/*.container{
    display:flex;
    flex-direction: row;
    font-family: 'Montserrat';
font-style: normal;
}*/
.submit-btn{
    width: 137px;
height: 50px;
background: #AEE86D;
border: 1px solid #000000;
border-radius: 6px;
margin-top: 40px; margin-left: 120px;
}
.registration-white-box{
    display: flex;
    flex-direction: row;
    width: 1600px;
  height: 755px;
  position: absolute;
  left: 305px;
  top: 150px;
  border-radius: 17px;
  background-color: white;
  box-shadow: 2px 2px 2px 2.5px rgba(123, 129, 135, 0.57);
}